@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

article h3 {
    font-size: 110%;
    text-decoration: underline dotted;
    line-height: 150%;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
}

article h2 {
    font-size: 120%;
}

section li {
    margin-bottom: 4px;  
}

b {
    font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
}


body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-align: justify;
}

h1 {
    color: #27A822;
}

.employment{
    margin-top: 15px;
}
.project{
    margin-bottom: 15px; margin-left:15px;
}

p, ul{
    margin-bottom: 10px;
}

a {
    color: #1EAEDB !important;
}
a:hover {
    text-decoration: underline;
}

@media print {
    @page {
        margin: 5mm;
    }

    body {
        font-size: 16px; 
        line-height: 18px;
    }
    .container {
        margin-left:auto;
        margin-right:auto;
        width:calc(100% - 20mm)
    }

    .container > header {
        font-size: 80%;
        line-height: 160%;
    }

    article > header > span {
        font-size: 80%;
        line-height: 80%;
    }

    section {
        margin-bottom: 0;
    }

    h1 {
        margin-bottom: 1rem;
    }
    ul{
        margin-bottom: 0;
    }
    .employment{
        margin-top: 8px;
    }
    .project{
        margin-bottom: 8px; margin-left:15px;
    }
    p, ul{
        margin-bottom: 8px;
    }
    .intro {
        margin-bottom: 1.5rem;
    }
    .columns, .column {
        margin-left: 0;
    }
}

.skills_header {
    /*font-weight: bold;*/
    text-decoration: underline;
    color: inherit;
}

.project{
    break-inside: avoid;
}

h1, h2, h3, h4, h5, h6{
    break-after: avoid;
}
.glue-to-next{
    break-after: avoid;
}

ul ul{
    margin: 4px 0 5px 30px;
    font-size: 100%;
}

.center {
    text-align: center;
}