{{ partial "head" . }}
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/extra.css">
  <body>
    <div class="container">
      {{ partial "header_short" . }}
      <div class="nine columns">
        <section class="thirteen columns"></section>
      </div>
      <div class="thirteen columns">
        <p><b>Full-stack Engineer</b> with <b>almost 7 years</b> of experience. I have gained a product-oriented mentality throughout my experience as a freelancer. </p>
        <p>I am highly adaptable, having worked both for <b>startups</b> that use modern, popular tech and big legacy projects for software factories. I have graduated with a high GPA from a <b>prestigious institution</b> which was key to thriving in so many different contexts.</p>
      </div>
      {{ partial "skills" . }}
      {{ partial "employment_short" . }}
      {{ partial "education_short" . }}
      {{ partial "section" .Site.Data.other_achievements }}
      <div class="thirteen columns center">
        <p>Visit <a href="https://jisbruzzi.github.io">jisbruzzi.github.io</a> for more information.</p>
      </div>
    </div>
  </body>
</html>