{{ partial "head" . }}
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/extra.css">
  <body>
    <div class="container">
      {{ partial "header_short" . }}
      <div class="nine columns clearfix">
        <section class="thirteen columns"></section>
      </div>
      <section class="thirteen columns">
        <article>
          <p><b>Full-stack Developer</b> with almost <b>7 years</b> of experience, specializing in <b>Typescript, React, Java, python</b></p>
        </article>
      </section>
      {{ partial "employment_short" . }}
      {{ partial "footer" . }}
    </div>
  </body>
</html>