[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/winning"]
	path = themes/winning
	url = https://github.com/gohugoio/hugoBasicExample
[submodule "themes/simple-resume"]
	path = themes/simple-resume
	url = https://github.com/tylerjlawson/simple-resume.git
[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/nurlansu/hugo-vitae.git
