<section class="thirteen columns">
  <h1>{{ .Site.Data.employment.name }}</h1>
  {{ range .Site.Data.employment_short.source }}
  <article>
    <header>
      <h1>{{ .prof }}</h1>
      {{ if .place }}
      <span>
        <address>{{ .place }}</address>
        <time>{{ .time }}</time>
      </span>
      {{ else }}
      <span>
        <time>{{ .time }}</time>
      </span>
      {{ end }}
    </header>
    {{ .intro | markdownify }}
    <div class="employment">
      {{ range .projects }}
      <div class="project">
        <h3>{{ .name }}</h3>
        {{ .content | markdownify }}
      </div>
      {{ end }}
    </div>
  </article>
  {{ end }}
</section>
