<section class="thirteen columns">
  <h1>{{ .Site.Data.skills.name }}</h1>
  <article class="skills_list">
    {{ range .Site.Data.skills.categories }}
    <header>
      
      <div style="display:flex;justify-content: flex-start; flex-wrap: wrap;" class="thirteen columns">
        <div style="margin-right:5px;" class="skills_header">{{ .name | markdownify }}:</div>
        {{ range .items }}
          <div style="margin:0 5px;">{{ . | markdownify }}</div>
        {{ end }}
      </div>
    </header>
    {{ end }}
  </article>
</section>
